@model Models.Entities.Product
@{
    ViewData["Title"] = "Product Detailes";
    Layout = "_LayoutManager";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">Add Product</h3></div>
                <div class="card-body" style="text-align: center">
                    <label><b>Product Title</b></label>
                    <br>
                    <span style="margin-top: -1%">@Model.Name </span><br />
                    <label><b>Buying Price</b></label>
                    <br>
                    <span>@Model.BuyingPrice</span><br />
                    <label><b>Selling Price</b></label>
                    <br>
                    <span>@Model.SellingPrice</span><br />
                    <label><b>Current Stock</b></label>
                    <br>
                    <span>@Model.Stock</span><br />

                    <form style="margin-left: 5%; margin-right: 5%;margin-top:5% " action="GenerateBarcode">
                        <label><b>Stock To Add</b></label>

                        <input class="form-control py-4" id="stock" name="stock" placeholder="Enter Stock Amount to Add">
                        <input class="form-control py-4" id="productId" name="productId" style="visibility: hidden" value="@Model.Id">
                        <input type="submit" class="btn btn-success" value="Generate Barcode" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
